<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Riena_on_RAP" sequenceNumber="61">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.rap.source.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.rap.feature.feature.group" version="2.3.0.20140610-0925"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="2.3.0.20140608-1653"/>
<unit id="org.eclipse.emf.rap.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.riena.build.feature.rap.sdk.feature.group" version="6.0.0.v20140610_6_0_0_0"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
</locations>
</target>
