<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Riena_on_RAP" sequenceNumber="50">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.riena.build.feature.core.sdk.e4.feature.group" version="5.0.0.v20130605_5_0_0_0"/>
<unit id="org.eclipse.riena.build.feature.rap.sdk.feature.group" version="5.0.0.v20130605_5_0_0_0"/>
<unit id="org.eclipse.riena.build.feature.samples.sdk.feature.group" version="5.0.0.v20130605_5_0_0_0"/>
<repository location="http://download.eclipse.org/rt/riena/5.0.0.0/e4-RAP"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20130604-2047"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="2.1.0.20130610-1755"/>
<unit id="org.eclipse.rap.feature.feature.group" version="2.1.0.20130611-2139"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
</locations>
</target>
